<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    <add key="BotId" value="m073k22jcmfj2882f" />
    <add key="MicrosoftAppId" value="c537f444-c2f9-42f3-984d-255fc66d4ef6" />
    <add key="MicrosoftAppPassword" value="uvQrm1qEMiCtXomcDgpWXcz" />

    <add key="BotFramework_SmsServiceUrl" value="https://sms.botframework.com" />
    <add key="BotFramework_StateServiceUrl" value="https://state.botframework.com" />
    <add key="BotFramework_EmailServiceUrl" value="https://email.botframework.com" />

    <add key="Twilio_PhoneNumber" value="+18327722087" />
    <add key="Office356_Email" value="zubairv85@zubairv.onmicrosoft.com" />

    <add key="StorageAccountConnectionString" value="DefaultEndpointsProtocol=https;AccountName=xbotfirstclass;AccountKey=RL7fiGj+XYzv87Wfe8TV6dv2V5d2XeEfjJrN1itCJMZtsV9IZm4MF88CKTLG0oGhp0F0LADLkFK80ggsAKnbxA==;EndpointSuffix=core.windows.net"/>
    <add key="CognitiveServices_TextAnalyticsKey" value="6dba7b3fcd4549c59f049d137acad4a4" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.40306.1554" newVersion="4.0.40306.1554" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Protocol.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.40306.1554" newVersion="1.0.40306.1554" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
